


<div class="container">

    <input type="text" [(ngModel)]="searchInput">
        <button (click)="searchEmps()">Search</button>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
            </tr>
        </thead>
        <tbody *ngIf="!search">
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.firstname}} <button class="btn btn-default" (click)="getDetails(employee)">Details</button> </td>
            </tr>
            <tbody *ngIf="search">
                <tr *ngFor="let employee of employeeList">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstname}} <button class="btn btn-default" (click)="getDetails(employee)">Details</button> </td>
                </tr>
        </tbody>
    </table>
    
</div>



<div *ngIf="selectedEmployee" >
    
    <div class="container">
        <table  class="table table-bordered table-hover">
            <caption> {{selectedEmployee.firstname + " " + selectedEmployee.lastname + "'s"}} Details :</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>PhoneNumber</th>
        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedEmployee.id}}</td>
                    <td>{{selectedEmployee.firstname}}  </td>
                    <td>{{selectedEmployee.lastname}}</td>
                    <td>{{selectedEmployee.phone}}</td>
                </tr>
            </tbody>
        </table>
        <label>Edit First Name :</label>
        <input type="text"  [(ngModel)]="selectedEmployee.firstname" >
        <label>Edit Last Name :</label>
        <input type="text" [(ngModel)]="selectedEmployee.lastname" >
        
        </div>
        
        
    </div>
    

